<div class="jumbotron">
  <h2> ToDo Tadaaaaaaaaaaaaaaaaaaaaaaaaaa</h2>
  <br>
  <h4>hoyeeeee hoyeeeeee</h4>
  <br>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger" %>
</div>